# tox enviroments that run on both pull requests and merge to main
name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, dev]

jobs:
  test:
    strategy:
      # fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", 3.12] # to minimise complexity we only test a min and a max version
        include:
          # on all platforms and versions do everything
          - tox-envs: [lint, test, docs, build]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # pandoc is required by nbsphinx for building the notebook-based docs
    - name: Setup pandoc for building docs
      uses: r-lib/actions/setup-pandoc@v2
      with:
        pandoc-version: '2.19.2'

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install tox
      run: |
        python -m pip install tox

    - name: Run tox environments for testing
      run: tox -e ${{ join(matrix.tox-envs, ',') }}

    # from https://github.com/codecov/codecov-action
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        #fail_ci_if_error: true
        verbose: true
